language: rust
sudo: false

rust:
  - stable

before_script:
  - pip install 'travis-cargo<0.2' --user && export PATH=$HOME/.local/bin:$PATH

script:
  - cargo build
  - cargo test
  - cargo doc --no-deps

after_success:
  - travis-cargo doc-upload

env:
  global:
    - secure: "WIJYBCTnqbL0V7kCWMy5Qa7pGUjKik7ybE5qiDWMA1Vqde247tPhNPegxsJUiFhqVuTCghp3F2hLZGyNN6QExuDKBXLUrgjnlt3eny1VAGQNfpPyrPB73GqV7K5HMPwbdj2Sag3zWY9q42SA409IZuYqyzHZcDmaRecWL/FUUYB/WZs2KGpjO9rLbwdTJePtRzyyMUxJwl8NVodEP3FPwGh2kBmQDtmCA/9YBwoXqQfFaYIL6GvxldQ8nhTDYWHgHNVFADLr4/JnDuwSXVvicZXi06EUx35PqFRA3QHfLR9FF70Bm6oaNu62BsQbpl8VtSQev778/Shjyc2y9cNGDpYwJYfFikbDYljiNySwzHLJyDTxo1Zstpe6UbDl7M6WuUp/ZBRFPY0Gorxl2hS3KA2QfCoqaBBDdr7j+b1KP8SFXRF3SuYRCsFLYv4bOnuEo94WfN5BCMkXUWgSO5A2QQcz48xErBZNBnd9HABg5i9Ct5li35EicUD2+6iKTUZUJPD9jv5Vt0Rzh/zU0slwR5T4VebVPVuhQIlXnhmd1oZ3xXLkYXXWFir/N+sMcJNX9lVHko+7Q/AZ9zSFLpdGG2fvjK7wSRsGB0AUE4mGHPj7vV1vO/ETCD7RMgqg658HPttO/9SBUJj1777ZwXsz0TuvMudJwmwAC543QbMcwjg="

notifications:
  email:
    on_success: never
