[package]
name = "tokio-serde"
version = "0.5.1"
edition = "2018"
authors = ["Carl Lerche <me@carllerche.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
keywords = []
repository = "https://github.com/carllerche/tokio-serde"
homepage = "https://github.com/carllerche/tokio-serde"
documentation = "https://docs.rs/tokio-serde"
description = """
Send and receive Serde encodable types over the network using Tokio.

This library is used as a building block for serialization format specific
libraries.
"""

[dependencies]
bytes = "0.5"
derivative = { version = "1", optional = true }
futures = "0.3"
pin-project = "0.4"
serde = { version = "1", optional = true }
serde_bincode = { package = "bincode", version = "1", optional = true }
serde_json = { version = "1", optional = true }
serde_messagepack = { package = "rmp-serde", version = "0.14", optional = true }

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
tokio-util = { version = "0.2", features = ["full"] }
static_assertions = "1.1.0"

[features]
bincode = ["derivative", "serde", "serde_bincode"]
json = ["derivative", "serde", "serde_json"]
messagepack = ["derivative", "serde", "serde_messagepack"]

[[example]]
name = "client"
required-features = ["bincode", "json", "messagepack"]

[[example]]
name = "server"
required-features = ["bincode", "json", "messagepack"]
